<footer class="footer">
    <div class="footer-content">
      <span class="copyright">© 2024 Sunnybrook</span>
      <img src="/sunnybrook_flower_logo.png" alt="Company Logo" class="footer-logo">
      <nav class="footer-nav">
        <ul class="footer-links">
          <li class="footer-item"><a href="#faqs" class="footer-link">Need help?</a></li>
        </ul>
      </nav>
    </div>
  </footer>