<%- include("partials/headermod.ejs") %> 

<header class="header">
    <div class="header-content">
        <img src="/SB_logo.png" href="#" alt="Sunnybrook Research Institute Logo" class="logo">
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item"><a href="/community-insights" class="nav-link">Feedback & FAQs</a></li>
            <li class="nav-item"><a href="/research" class="nav-link">Our Research</a></li>
            <li class="nav-item"><a href="/guide" class="nav-link">Getting started Guide</a></li>
          </ul>
        </nav>
        <form action="/" method="POST">
            <button type="submit" class="button-1">Home</button>
        </form>
      </div>
</header>

<body>
    <section class="about-us">
        <h1>User <span class="emphasis">Guide</span>
        </h1>
    </section>

    <section class="outer-wrapper">
        <h2>Website Navigation</h2>
        <div class="content-wrapper">
            <div class="list-column">
              <ol>
                <li>Clicking this link will lead you to the community insights and contact forum.</li>
                <li>Clicking this link will lead you to a webpage outlining our research.</li>
                <li>Clicking this link will lead you to the website navigation and experiment guide (You are here).</li>
                <li>Clicking this button will lead you to the homepage.</li>
                <li>Clicking this link will lead you to the website navigation the experiment guide (You are here).</li>
              </ol>
            </div>
            <div class="image-column">
              <img src="guide.png" alt="Header and Footer Text">
            </div>
        </div>
    </section>

    <section class="outer-wrapper">
        <h2>Experiment Procedure</h2>
        <div class="content-wrapper">
            <div class="list-column">
              <ol>
                <li>First item</li>
                <li>Second item</li>
                <li>Third item</li>
                <li>Fourth item</li>
                <li>Fifth item</li>
                <li>Sixth item</li>
                <li>Seventh item</li>
              </ol>
            </div>
            <div class="image-column">
              <img src="guide-im2.png" alt="Main page screenshot">
            </div>
        </div>
    </section>

</body>


<%- include("partials/footer.ejs") %> 