<%- include("partials/headermod.ejs") %> 

<header class="header">
    <div class="header-content">
        <img src="/SB_logo.png" href="#" alt="Sunnybrook Research Institute Logo" class="logo">
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item"><a href="/community-insights" class="nav-link">Feedback & FAQs</a></li>
            <li class="nav-item"><a href="/research" class="nav-link">Our Research</a></li>
            <li class="nav-item"><a href="/guide" class="nav-link">Getting Started Guide</a></li>
          </ul>
        </nav>
        <form action="/" method="POST">
            <button type="submit" class="button-1">Home</button>
        </form>
      </div>
</header>

<body>
    <section class="about-us">
        <h1>User <span class="emphasis">Guide</span>
        </h1>
    </section>

    <section class="outer-wrapper">
        <h2>Website Navigation</h2>
        <div class="content-wrapper">
            <div class="list-column">
              <ol>
                <li>Clicking this link will lead you to a contact forum and frequently asked questions (FAQs).</li>
                <li>Clicking this link will lead you to a webpage outlining our research.</li>
                <li>Clicking this link will lead you a guide (this page).</li>
                <li>Clicking this button will lead you to the homepage.</li>
                <li>Clicking this link will lead you a guide (this page).</li>
              </ol>
            </div>
            <div class="image-column">
              <img src="guide-im1.png" alt="Header and Footer Text">
            </div>
        </div>
    </section>

    <section class="outer-wrapper">
        <h2>Experiment Procedure</h2>
        <div class="content-wrapper">
            <div class="list-column">
              <ol>
                <li>At the home page, you will be introduced with a similar layout as shown.</li>
                <li>Start by reading the media details in section (3). Noting what exactly is being measured (4).</li>
                <li>Once you are ready, you can click on the text (2), and the media will play in section (1).</li>
                <li>After viewing the media, use the rating scale to express your feelings. Button (6) will clear your selected rating.</li>
                <li>Once you have decided on the rating you wish to submit, press either submit button (5). This will submit your rating.</li>
                <li>Lastly, a new media will be presented to you. Repeat steps 1-5 until you are finished with the media clips.</li>
                <li>*If you have any suggestions, comments, or concerns. Use the Feedback & FAQs section to get in contact.</li>
              </ol>
            </div>
            <div class="image-column">
              <img src="guide-im2.png" alt="Main page screenshot" id="guide-im2">
            </div>
        </div>
    </section>

</body>


<%- include("partials/footer.ejs") %> 