<%- include("partials/header.ejs") %> 

<body>

    <section>
        <div class="video-container" id="main_container">
            <div class="video-title">
              <h2 id="video-title">Media - #1</h2>
            </div>
            <div id="video-box" style="cursor: pointer;">
              <p id="clickHereText">Click <span id="clickHereEmp">here</span> to see Media - #1</p>
              <!-- Hidden video element -->
              <video id="video-player" controls style="display:none;">
                <source src="joy-image1.mp4" type="video/mp4">
                Your browser does not support HTML video.
              </video>
            </div>
          </div>
    </section>
    <section class="about-us">
        <div class="clip-details-container" id="media-details">
            <!-- Clip Details List -->
            <div class="clip-details">
              <h3>Media Details:</h3>
              <ul>
                <li>Genre: <span id="genre">Art - Generated AI</span></li> 
                <li>Duration: <span id="duration">0:10s</span></li>
                <li>Media Type: <span id="media-type">Image</span></li>
              </ul>
              <div class="rating-scale">
                <p id="rate-emo">Rate the <span class="emphasis" id="emotion_measured">happiness</span></p>
                <div class="circles">
                  <!-- Rating circles: 1-10 -->
                  <div class="btn-container">
                    <button class="button-2" id="clear-btn1" onclick="clearRating()">Clear</button>
                  </div>
                  <div class="circle-container" data-rating="1">
                    <span class="circle-number">1</span>
                    <span class="circle" tabindex="0"></span>
                  </div>

                  <div class="circle-container" data-rating="2">
                    <span class="circle-number">2</span>
                    <span class="circle" tabindex="0"></span>
                  </div>

                  <div class="circle-container" data-rating="3">
                    <span class="circle-number">3</span>
                    <span class="circle" tabindex="0"></span>
                  </div>

                  <div class="circle-container" data-rating="4">
                    <span class="circle-number">4</span>
                    <span class="circle" tabindex="0"></span>
                  </div>

                  <div class="circle-container" data-rating="5">
                    <span class="circle-number">5</span>
                    <span class="circle" tabindex="0"></span>
                  </div>

                  <div class="circle-container" data-rating="6">
                    <span class="circle-number">6</span>
                    <span class="circle" tabindex="0"></span>
                  </div>

                  <div class="circle-container" data-rating="7">
                    <span class="circle-number">7</span>
                    <span class="circle" tabindex="0"></span>
                  </div>

                  <div class="circle-container" data-rating="8">
                    <span class="circle-number">8</span>
                    <span class="circle" tabindex="0"></span>
                  </div>

                  <div class="circle-container" data-rating="9">
                    <span class="circle-number">9</span>
                    <span class="circle" tabindex="0"></span>
                  </div>
                  <div class="circle-container" data-rating="10">
                    <span class="circle-number">10</span>
                    <span class="circle" tabindex="0"></span>
                  </div>
                  <div class="btn-container">
                    <button class="button-1" id="sub-btn2">Submit</button>
                  </div>
                </div>
            </div>
          </div>
    </section>

    <section class="hidden_wrapper" id="hidden_section">
      <div class = "hidden_content_wrapper">
        <h1>Thank <span class="emphasis">you</span> for participating!</h1>
        <p>For information on our research, click <a href="/research" class="link">here</a>.</p>
        <p>To provide feedback or get in contact with us, click <a href="/community-insights" class="link">here</a>.</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
          <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
        </svg>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>  
    <script src="/script.js"></script> 
    

</body>


<%- include("partials/footer.ejs") %> 