<%- include("partials/headermod.ejs") %> 

<header class="header">
    <div class="header-content">
        <img src="/SB_logo.png" href="#" alt="Sunnybrook Research Institute Logo" class="logo">
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item"><a href="/community-insights" class="nav-link">Feedback & FAQs</a></li>
            <li class="nav-item"><a href="/research" class="nav-link">Our Research</a></li>
            <li class="nav-item"><a href="/guide" class="nav-link">Getting started Guide</a></li>
          </ul>
        </nav>
        <form action="/" method="POST">
            <button type="submit" class="button-1">Home</button>
        </form>
      </div>
</header>

<body>
    <section class="about-us">
        <h1>Your <span class="emphasis">Feedback</span> & <span class="emphasis">FAQs</span>
        </h1>
    </section>

    <section class="outer-wrapper">
        <div class="p-5 text-center bg-body-tertiary rounded-3" id="insights-banner">
            <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="46" fill="currentColor" class="bi bi-person-arms-up" viewBox="0 0 16 16">
                <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                <path d="m5.93 6.704-.846 8.451a.768.768 0 0 0 1.523.203l.81-4.865a.59.59 0 0 1 1.165 0l.81 4.865a.768.768 0 0 0 1.523-.203l-.845-8.451A1.5 1.5 0 0 1 10.5 5.5L13 2.284a.796.796 0 0 0-1.239-.998L9.634 3.84a.7.7 0 0 1-.33.235c-.23.074-.665.176-1.304.176-.64 0-1.074-.102-1.305-.176a.7.7 0 0 1-.329-.235L4.239 1.286a.796.796 0 0 0-1.24.998l2.5 3.216c.317.316.475.758.43 1.204Z"/>
            </svg>
            <h1 class="text-body-emphasis">Help us improve!</h1>
            <p class="col-lg-8 mx-auto fs-5 text-muted">
                Reach out to us about any issues or feedback regarding website development, content display, or user experience and we will be glad to discuss any concerns.
            </p>
        </div>
    </section>
    <section class="outer-wrapper" id="insights-bottom-wrapper">
        <h2>Contact Information</h2>
        <p>Note: please contact development for website related issues.</p>
        <form class="row g-3">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input class="form-control" type="text" value="xyz@outlook.com" aria-label="Disabled input example" disabled readonly>
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Address</label>
                <input class="form-control" type="text" value="27 King's College Cir, Toronto, ON M5S 1A1" aria-label="Disabled input example" disabled readonly>
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email (development)</label>
                <input class="form-control" type="text" value="xyz@outlook.com" aria-label="Disabled input example" disabled readonly>
            </div>

        </form>
    </section>
    <section>
        <div class="faq-section">
            <div class="faq-column-questions">
              <h2>FAQs</h2>
              <ol>
                <li>What is the purpose of your research?<br> </br></li>
                <li>How can I participate in a study?</li>
                <!-- Can add more questions -->
              </ol>
            </div>
            <div class="faq-column-answers">
              <h2>Answers</h2>
              <ul>
                <li>The research aims to uncover the effect of audiovisual stimuli on the brain. For more info, please click <a href="/research" class="link">here</a>.</li>
                <li>Participants can join by simply providing their ratings. If you haven't done so already, please click <a href="/" class="link">here</a>.</li>
                <!-- Pair each question with its respective answers -->
              </ul>
            </div>
          </div>
    </section>
</body>


<%- include("partials/footer.ejs") %> 