<%- include("partials/headermod.ejs") %> 

<header class="header">
    <div class="header-content">
        <img src="/SB_logo.png" href="#" alt="Sunnybrook Research Institute Logo" class="logo">
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item"><a href="/community-insights" class="nav-link">Feedback & FAQs</a></li>
            <li class="nav-item"><a href="/research" class="nav-link">Our Research</a></li>
            <li class="nav-item"><a href="/guide" class="nav-link">Getting started Guide</a></li>
          </ul>
        </nav>
        <form action="/" method="POST">
            <button type="submit" class="button-1">Home</button>
        </form>
      </div>
</header>

<body>

    <section class="about-us">
      <h1>Our <span class="emphasis">Research</span>
      </h1>
      <p class="para">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae et leo duis ut diam quam nulla porttitor. Non curabitur gravida arcu ac tortor. Etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus. Commodo odio aenean sed adipiscing diam. Nisl nisi scelerisque eu ultrices vitae auctor eu augue. 
      </p>
      <!-- More paragraphs -->
      
      <!-- Staggered images -->
      <div class="image-gallery">
        <img src="/stimuli-cover1.png" alt="Research Project 1">
        <!-- More images -->
      </div>
      <p>Risus nec feugiat in fermentum posuere. Urna et pharetra pharetra massa massa ultricies mi quis. Et magnis dis parturient montes nascetur ridiculus mus mauris vitae. Arcu dictum varius duis at consectetur lorem: </p>
      <ul class = "resGoals">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Integer nec odio praesent libero sed cursus ante dapibus diam.</li>
        <li>Sed nisi nulla quis sem at nibh elementum imperdiet.</li>
        <li>Duis sagittis ipsum praesent mauris fusce nec tellus sed augue semper.</li>
      </ul>
      <p> Est pellentesque elit ullamcorper dignissim cras. Mollis aliquam ut porttitor leo a. Viverra aliquet eget sit amet tellus. 
    </section>
  
</body>

<%- include("partials/footer.ejs") %> 