/* Header Styles */
.header {
    background-color: #FBFDF4;
    padding: 0 1rem; 
}
  
.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #AFB1AA; /* 3rd order tint */

}
  
.logo {
    width: 200px; 
}

  
.nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif; 
    font-weight: 500;
    font-style: normal; 
}
  
.nav-item {
    margin: 0 10px; 
}
  
.nav-item .nav-link:hover {
    color: #29a34b; /*highlight color on hover*/
}
/*might need to add a visted color afterwards, since it reverts back to simply blue*/

.nav-item .nav-link {
    color: black; 
    text-decoration: none;
    transition: color 0.3s ease;
}
  
.button-1 {
  background-color: #88E1A1;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-family: "Poppins", sans-serif; 
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover {
  background-color: #fff;
}

.button-1:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-1 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.button-2 {
    background-color: #88E1A1;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-family: "Poppins", sans-serif; 
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.button-2:hover {
      background-color: #fff;
}
  
.button-2:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}
  
@media (min-width: 768px) {
    .button-2 {
      min-width: 120px;
      padding: 0 25px;
    }
}


.emphasis{
    color: #1f7a39; 
    letter-spacing: 3px;
    font-weight: 600;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #FBFDF4 !important;
}
  
.about-us {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: #FBFDF4;
    height: 35vh;
}

.outer-wrapper {
    max-width: 1200px;
    height: auto;
    margin: 0 auto; 
    padding: 20px;
    background-color: #FBFDF4;
}
  
  
.about-us h1 {
    text-align: left; 
    font-weight: 400;
    color: #000; 
    margin-bottom: 20px; 
    text-decoration: underline;
}
  
.about-us p {
    font-weight: 400; 
    margin-bottom: 20px; 
    font-size: 20px;
}
  
.image-gallery {
    display: block;
    text-align: center; 
    margin: 20px 0; 
  }
  
.image-gallery img {
    max-width: 100%; 
    height: auto; /* aspect ratio */
}

.footer {
    background-color: #FBFDF4; 
    color: black; 
}
  
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    border-top: 1px solid #AFB1AA; 
}
  
.footer-logo {
    width: 50px;
    height: auto;
}
  
.footer-nav {
    display: flex; 
}
  
.footer-nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0; 
    align-items: center; 
}
  
.footer-item {
    margin: 0 10px; 
}
  
.footer-link {
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif; 
    font-weight: 400;
    font-style: normal; 
    font-size: 15px;
}
  
.footer-link:hover {
    color: #29a34b; /*highlight color on hover*/
}

.copyright { 
    font-family: "Poppins", sans-serif; 
    font-weight: 400;
    font-style: normal; 
    font-size: 15px;
}

.resGoals {
    
    list-style: none; 
    padding: 0; 
    margin: 1em 0; 
}
  
.resGoals li {
    font-size: 20px;
    padding-left: 1em; 
    text-indent: -1em; 
    margin-bottom: 0.5em; 
}
  
.resGoals li::before {
    content: "• "; 
    color: #1f7a39; 
    font-weight: bold; 
}

/* font-family: "Poppins", sans-serif; 
font-weight: 400;
font-style: normal; */


.content-wrapper {
    display: flex;
    justify-content: space-between;
}
  
.list-column {
    flex: 1; 
    margin-right: 20px; 
}
  
.list-column ol {
    padding-left: 20px; 
}

.list-column ol li {
    margin-bottom: 10px;
}

.image-column {
    flex: 2; 
    text-align: center; 
}
  
.image-column img {
    width: 100%; 
    max-width: 700px; 
    height: auto; 
}


#insights-banner{
    background-color: #eff7d4 !important; /*off tint color*/
}

#insights-bottom-wrapper{
    border-bottom: 1px solid #AFB1AA;
}

.faq-section {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px; 
    padding-top: 20px;
    padding-bottom: 20px;
}
  
.faq-column-questions,
.faq-column-answers {
    flex: 1; 
    padding: 0 20px; 
}
  
.faq-column-questions ol,
.faq-column-answers ul {
    list-style: none; 
    padding: 0; 
}
  
.faq-section li + li {
    margin-top: 15px; 
}

.link{
    text-decoration: none;
    color: #1f7a39;
}

.link:hover{
    color: #29a34b;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 50px;
    margin-bottom: 40px;
}
  
  .video-title h2 {
    margin: 0 0 10px; 
    padding: 0;
}
  
  #video-box {
    width: 950px; 
    height: 534.38px;
    background-color: #eff7d4;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #AFB1AA;
}
  
  #video-box p {
    position: absolute;
    z-index: 10;
}
  
  #video-player {
    width: 100%;
    height: auto;
}



.clip-details-container {
    background-color: #eff7d4; 
    color: black;
    padding: 20px;
    border-radius: 10px;
    width: 800px; 
    margin: auto; 
    border: 2px solid #AFB1AA;
}
  
.clip-details h3, .rating-scale p {
    color: black;
}
  
.clip-details ul {
    list-style: none;
    padding: 0;
}
  
.clip-details li {
    margin-bottom: 5px;
}
  
/* .clip-details li span {
    font-weight: bold;
} */

.rating-scale .circles {
    display: flex;
    justify-content: center; 
    align-content: center;
    gap: 10px; 
}
  
.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.circle-number {
    margin-bottom: 5px; 
}
  
.circle {
    width: 30px; 
    height: 30px; 
    border: 2px solid black; 
    border-radius: 50%;
    background-color: white; 
    margin: 0 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}
  
.circle-highlighted {
    background-color: #88E1A1; 
}


#sub-btn2{
    height: 40px;
}

#clear-btn1{
    height: 40px;
}


.btn-container {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin-bottom: 10px; 
}

#note {
    font-size: 15px;
}

#scaleLevel{
    padding:0;
    margin-top:0;
}

#rate-emo{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

#guide-im2{
    max-height: 500px;
    height: auto; 
}

#hidden_section{
    display: none;
    height: 84vh;
}

.hidden_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 84vh;
}

.hidden_content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden_content_wrapper h1,
.hidden_content_wrapper p,
.hidden_content_wrapper svg {
    margin: 10px 0;
}

.hidden_content_wrapper svg {
    max-width: 100%;
    height: auto;
}

#clickHereText{
    font-size: 22px;
    font-weight: 400;
}

#clickHereEmp{
    color: #8B0000;
}