/* Header Styles */
.header {
    background-color: #FBFDF4;
    padding: 0 1rem; 
}
  
.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #AFB1AA; /* 3rd order tint */

}
  
.logo {
    width: 200px; 
}

  
.nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif; 
    font-weight: 500;
    font-style: normal; 
}
  
.nav-item {
    margin: 0 10px; 
}
  
.nav-item .nav-link:hover {
    color: black; /*highlight color on hover*/
}

.nav-item .nav-link {
    color: black; 
    text-decoration: none;
    transition: color 0.3s ease;
}
  

/* CSS */
.button-1 {
  background-color: #88E1A1;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-family: "Poppins", sans-serif; 
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover {
  background-color: #fff;
}

.button-1:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-1 {
    min-width: 120px;
    padding: 0 25px;
  }
}
  
/* font-family: "Poppins", sans-serif; 
font-weight: 400;
font-style: normal; */

                