/* Header Styles */
.header {
    background-color: #FBFDF4;
    padding: 0 1rem; 
}
  
.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #AFB1AA; /* 3rd order tint */

}
  
.logo {
    width: 200px; 
}

  
.nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif; 
    font-weight: 500;
    font-style: normal; 
}
  
.nav-item {
    margin: 0 10px; 
}
  
.nav-item .nav-link:hover {
    color: #29a34b; /*highlight color on hover*/
}
/*might need to add a visted color afterwards, since it reverts back to simply blue*/

.nav-item .nav-link {
    color: black; 
    text-decoration: none;
    transition: color 0.3s ease;
}
  

/* CSS */
.button-1 {
  background-color: #88E1A1;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-family: "Poppins", sans-serif; 
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover {
  background-color: #fff;
}

.button-1:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-1 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.body{
    height: 100vh; /* fix later */
}  

.emphasis{
    color: #1f7a39; 
    letter-spacing: 3px;
    font-weight: 600;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #FBFDF4 !important;
}
  
.about-us {
    max-width: 1200px; /* Adjust the width as needed */
    margin: 0 auto; /* Centers the section */
    padding: 20px;
    background-color: #FBFDF4;
}

.outer-wrapper {
    max-width: 1200px; /* Adjust the width as needed */
    height: auto;
    margin: 0 auto; /* Centers the section */
    padding: 20px;
    background-color: #FBFDF4;
}
  
  
.about-us h1 {
    text-align: left; /* Aligns the title to the left */
    font-weight: 400; /* Adjust as needed */
    color: #000; /* Title color */
    margin-bottom: 20px; /* Spacing after the title */
    text-decoration: underline;
}
  
.about-us p {
    font-weight: 400; /* Adjust as needed */
    margin-bottom: 20px; /* Spacing between paragraphs */
    font-size: 20px;
}
  
.image-gallery {
    display: block; /* No longer need flex if only one image is shown */
    text-align: center; /* This will center the image in the container */
    margin: 20px 0; /* Add some vertical space around the image */
  }
  
.image-gallery img {
    max-width: 100%; /* Make sure the image is responsive and fits its container */
    height: auto; /* Maintain aspect ratio */
}

.footer {
    background-color: #FBFDF4; /* Dark background color for the footer */
    color: black; /* White text color */
}
  
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center; /* This centers the items vertically */
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    border-top: 1px solid #AFB1AA; 
}
  
.footer-logo {
    width: 50px; /* Example width for your logo */
    height: auto; /* Maintain aspect ratio */
}
  
.footer-nav {
    display: flex; /* Align the navigation horizontally */
}
  
.footer-nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0; /* Reset default margin */
    align-items: center; /* Center align the nav items vertically */
}
  
.footer-item {
    margin: 0 10px; /* Adjust spacing between navigation items */
}
  
.footer-link {
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif; 
    font-weight: 400;
    font-style: normal; 
    font-size: 15px;
}
  
.footer-link:hover {
    color: #29a34b; /*highlight color on hover*/
}

.copyright { 
    font-family: "Poppins", sans-serif; 
    font-weight: 400;
    font-style: normal; 
    font-size: 15px;
}

.resGoals {
    
    list-style: none; /* Removes the default list-style */
    padding: 0; /* Removes the default padding */
    margin: 1em 0; /* Adds some space above and below the list */
}
  
.resGoals li {
    font-size: 20px;
    padding-left: 1em; /* Add padding to the left of list items */
    text-indent: -1em; /* Indents the text to align with content above */
    margin-bottom: 0.5em; /* Adds space between list items */
}
  
.resGoals li::before {
    content: "• "; /* Adds a bullet before each list item */
    color: #1f7a39; /* Bullet color */
    font-weight: bold; /* Makes the bullet bold */
}

/* font-family: "Poppins", sans-serif; 
font-weight: 400;
font-style: normal; */


.content-wrapper {
    display: flex;
    justify-content: space-between;
}
  
.list-column {
    flex: 1; /* Adjust the flex basis as necessary to control width */
    margin-right: 20px; /* Space between list and image */
}
  
.list-column ol {
    padding-left: 20px; /* Standard padding for ordered lists */
}

.list-column ol li {
    margin-bottom: 10px;
}

.image-column {
    flex: 2; /* Adjust the flex basis as necessary to control width */
    text-align: center; /* Center the image if it's not as wide as the column */
}
  
.image-column img {
    width: 100%; /* Use a percentage width for responsiveness */
    max-width: 600px; /* Maximum size of the image */
    height: auto; /* Maintain aspect ratio */
}


#insights-banner{
    background-color: #eff7d4 !important; /*off tint color*/
}

#insights-bottom-wrapper{
    border-bottom: 1px solid #AFB1AA;
}

.faq-section {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px; /* Adjust to match the width of the rest of your content */
    padding-top: 20px;
    padding-bottom: 20px;
}
  
.faq-column-questions,
.faq-column-answers {
    flex: 1; /* Assign equal width to both columns */
    padding: 0 20px; /* Add some spacing inside the columns */
}
  
.faq-column-questions ol,
.faq-column-answers ul {
    list-style: none; /* Removes default list styling */
    padding: 0; /* Removes default padding */
}
  
.faq-section li + li {
    margin-top: 15px; /* Adds spacing between list items */
}

.link{
    text-decoration: none;
    color: #1f7a39;
}

.link:hover{
    color: #29a34b;
}